@media only screen and (min-width: 32.5em) {

    body {
        font-size: 1.8rem;
    }

    header {
        max-width: 1800px;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size:2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
    
    footer {
        font-size: 1rem;
        max-width: 1800px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}