body {
    font-size:1.4rem;
    line-height:1.5;
}
header {
    max-width: 500px;
    background-color:coral;
    color: rgb(124, 107, 107); 
    font-family: 'The Nautigal', cursive;
}
h1 {
    font-size:3rem;
    display: inline;
    padding:5px;
}

img {
    float: top left;
    width: 200px;
    margin-left: 20px;
    border: 2px solid black;
}

h2 {
    font-size:1.5rem;
    font-family: "Courier New", monospace;
}

main {
    text-align: left;
    font-family: "Courier New", monospace;
}
footer {
    font-size: 0.8rem;
    max-width: 500px;
    background-color:coral;
    color: black; 
    font-family: "Courier New", monospace;
}