body {
    font-size:1.4rem;
    line-height:1.5;
}

header {
    max-width: 500px;
    background-color:#294936;
    color: #B6D7B9; 
    font-family: 'The Nautigal', cursive;
}

h1 {
    font-size:1.8rem;
    text-align:left;
}
a {
    padding: 1em;
}

img {
    margin: 10px;
    width: 300px;
    border: 2px solid black;
}

h2 {
    font-size:1.5rem;
    font-family: "Marcellus", serif;
    background-color: #D0F1BF;
    text-align: center;
}

h3 {
    background-color: #73b68d;
}

h3, a {
    font-size: 1rem;
    padding: 10px;
    font-family: "Courier New", monospace;
}
p {
    font-size: 0.7rem;
}

main {
    text-align: left;
    font-family: "Courier New", monospace;
    max-width:500px
}

footer {
    font-size: 0.8rem;
    max-width: 500px;
    background-color:#294936;
    color: black; 
    font-family: "Marcellus", serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.part1, .part2 {
    background: rgb(216, 210, 210);
    max-width: 450px;
}

.part3 {
    background: #eee;
    max-width: 450px;

}