header {
    display: grid;
    background-color:#0A122A ;
    border-radius: 15px;
    color: #C7C7A6;
    margin: 25px;
}

section.banner {
    background-color: #0A122A;
}

section.banner a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    border-top: solid 2px #C7C7A6;
}
/*
header div span {
    display: inline-block;
    color: #C7C7A6;
    text-align: center;
    padding: 1rem;
}*/

body {
    font-size:1.4rem;
    line-height:1.5;
    background-color: rgb(214, 216, 219);
}

h1 {
    margin: 10px;
    font-family: 'Lily Script One', cursive;
}

h2, h3 {
    background-color: #605C4E;
    font-family: 'Slabo 27', serif;
    padding: 1em;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
}

nav {
    background-color: #605C4E;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #C7C7A6;
    text-decoration: none;
    display:block;
    padding: 0.8rem 2vw;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

nav ul {display: none;}
nav ul.open {display:block;}

#hamBtn span:nth-child(1) {display:block;}
#hamBtn span:nth-child(2) {display:none;}

#hamBtn.open span:nth-child(1) {display:none;}
#hamBtn.open span:nth-child(2) {display:block;}

main {
    font-family: 'Slabo 27', serif;
    font-size: 25px;
    margin: 20px;
    text-align: left;    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

footer {
    display: grid;
    background-color: #0A122A;
    font-family: 'Slabo 27', serif;
    color:#C7C7A6;
    margin: 25px;
    line-height: 1em;
    text-align: center;
    border-radius: 15px;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

img {
    border: 3px solid #605C4E;
    margin: 10px;
    width: 250px;
}

.discover picture img {
    float: right;
    border: 3px solid #605C4E;
    margin: 15px;
    width: 300px;
}

.discover picture img:hover {
    box-shadow: 0 0 50px #333;
}

section {
    margin: 2px;
    background-color: #C7C7A6;
    /*line-height: 1rem;*/
    border-radius: 5px;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    background-color: #C7C7A6;
    border: black solid 2px;
}

.weatherSpot {
    padding: 4px;
}

.discover {
    display: grid;
    grid-template-columns: 1fr;
}

.discover p {
    max-width: 50%;
}

.endImages {
    display: grid;
}

form {
    margin: auto;
    max-width: 960px;
}
form fieldset {
    margin: auto;
    padding: 0.5rem 2%;
    border: 1px solid black;
    border-radius: 10px;
}

form legend {
    color: white;
    background-color: #0A122A;
    border-radius: 10px;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #0A122A;
    font-size: 0.9rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.75rem;
    color: #605C4E;
    width: 100%;
    max-width: 15rem;
    background-color: #C7C7A6;
}

form label.mid {
    display: block;
    padding: .75rem 0;
    color: #0A122A;
}

form input.submitBtn {
    border: none;
    background-color: #C7C7A6;
    color: #0A122A;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
}

form label.top input:required {
    border-bottom: 4px red solid;
}

form label.top input:required:valid {
    border-bottom:1px solid black;
}

form div.detail {
    display: none;
}

main section {
    display: grid;
}

main .viewit {
    padding: 0.8rem;
}

main .busicards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

div.busicards section {
    background-color: white;
    box-shadow: 0 0 30px rgb(129, 128, 128);
}

div.busicards h2 {
    font-family: "Slabo 27", sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    margin-bottom: 0;
}

div.busicards h4 {
    font-family: "Slabo 27", sans-serif;
    font-size: 0.8rem;
    background-color: transparent;
    margin-top: 0;
}

div.busicards img {
    margin: auto;
    margin-top: 1rem;
    border: none;
    width: 100px;
}

div .icons {
    background-color: #C7C7A6;
    border: solid 2px #0A122A;
    border-radius: 15px;
}

/*.icons {
    background-color: #C7C7A6;
    margin: 30px auto;
}*/

.listBtn, .gridBtn {
    min-width: 100px;
    margin: 15px 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

.listBtn, .gridBtn:hover {
    background-color: #0A122A;
    color: white;
}

.busicards section p {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    font-size: 20px;
    min-width: 400px;
}
/*
.row {
    display: grid;
    grid-template-columns: 1fr;
}

#column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}*/