@media only screen and (min-width: 75em) {
    
    nav ul li a {
        padding: .5rem 1rem;
    }

    .logocontainer {
        display: flex;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
        margin: 10px;
    }

    .firstC {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }

    .item4 {
        max-width: 400px;
        margin: 10px 0 10px 20px ;
    }

    .item4 figure img {
        max-width: 90px;
        margin-left: -200px;
        border: none;
    }
    
    .item4 figcaption {
        text-align: center;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    
    .item4 p {
        margin-bottom: 2px;
        margin-top: 0px;
        text-align: center;
    }

    form div.detail {
        display: block;
        margin: 0 12rem 0 6rem;
        font-size: 1.2rem;
        border-bottom: solid 1px #515972;
    }

}