@media only screen and (min-width: 64rem) {
    
    nav ul li a {
        padding: .5rem 1rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5em;
    }

    div.item1 {
        grid-column: 20%;
    }
    
    div.item2 {
        grid-column: 40%;
    }
    
    div.item3 {
        grid-column: 20%;
    }

    form div.detail {
        display: block;
        margin: 0 0 2.2rem 2%;
        font-size: 1.2rem;
    }
}