@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');;

main section {
    display: grid;
}

main .cards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

header, main, footer{
    text-align: center;
    margin: 1rem;
    position: relative;
    font-family: "Smooch Sans", sans-serif;
}

h1 {
    color: #000;
    font-family: "Smooch Sans";
}

h2 {
    text-decoration: underline;
    margin: 0;
    margin-bottom: 5px;
}

section.birth {
    margin: 0;
    padding: 2rem;
}

img {
    width: auto;
    max-width: 340px;
    box-shadow: 0 0 30px rgb(129, 128, 128);
    height: 330px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 3px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

