@media only screen and (min-width: 70em)  {

    header div.calltoAction a{
        font-size: 2em;
    }
    
    main .nextstop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .nextstop img {
        max-width: 95%;
    }

    main .timages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    main .timages img {
        /*max-width: 430px;*/
        width: 100%;
    }
    nav ul li a {
        padding: .5rem 1rem;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
    }
    
    /*#navBar {
        display: flex;
    }

    #navBar li:first-child {
        display: none;
    }

    #navBar li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }*/


    h3 {
        font-size: 30px;
    }

    form div.select-date {
        display: flex;
        padding: 0.5rem 2%;
    }

    main div.dtemple {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    div.contact p {
        font-size: 2em;
    }

    div.more {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    div.wed img {
        max-width: 900px;
        border-radius: 10px;
        box-shadow: 0 20px 30px rgb(156, 154, 154);
    }

    div.wed p {
        margin: 40px;
        text-align: center;
    }

    nav {
        margin: auto;
    }

    main div.mbottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}