@media only screen and (min-width: 75em)  {

    main .nextstop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .nextstop img {
        max-width: 95%;
    }

    main .timages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .timages img {
        max-width: 430px;
    }

    #navBar {
        display: flex;
    }

    #navBar li:first-child {
        display: none;
    }

    #navBar li {
        display: block;
        flex: 1 1 100%;
    }

    /*nav ul li a {
        padding: .5rem 1rem;
    }*/


    h3 {
        font-size: 30px;
    }

    main div.dtemple {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}