@media only screen and (min-width: 70em)  {

    main .nextstop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .nextstop img {
        max-width: 95%;
    }

    main .timages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .timages img {
        max-width: 430px;
    }
    nav ul li a {
        padding: .5rem 1rem;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
    }
    
    /*#navBar {
        display: flex;
    }

    #navBar li:first-child {
        display: none;
    }

    #navBar li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }*/


    h3 {
        font-size: 30px;
    }

    form div.select-date {
        display: flex;
        padding: 0.5rem 2%;
    }

    main div.dtemple {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}