@media only screen and (min-width: 35em){

    nav button {
        display: none;
    }

    nav ul#navBar{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;
    }

    main div.mbottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
}